:root {

    --bg__blue: #2C3E50;
    --bg__green: #1ABC9C;
    --bg-light: #3A546D;


}

.bg__blue {
    background-color: var(--bg__blue);
}

.bg__green {
    background-color: var(--bg__green);
}

.bg__light {
    background-color: var(--bg-light);
}

#text__green{
    color: var(--bg__green);
}

.avatar {
    max-width: 16rem;
    margin: 0 auto;
}

.title__font {
    font-size: 2.125rem;
}

._border {
    width: 3.75rem;
    border: 1px solid currentColor;
    margin: 0.5rem;
}

.star {
    font-size: 1.5rem;
}

.p__line {
    position: relative;

}

.line {
    color: black;
    font-size: 1rem;
    transform: rotate(135deg);
    position: absolute;
    top: -1rem;
    right: 0;
}

@media (min-width:768px) {

    .title__font {
        font-size: 4.5rem;
    }

    ._border {
        width: 10.25rem;
        border: 1px solid currentColor;
        margin: 1.815rem;
    }

    .font__text {
        font-size: 1.25rem;
    }

}